body {
    margin: 0;
    padding: 0;
    background: #1A1E24;
}

.toolbar {
    height: 40px;
    width: 100%;
    background: #2D3036;
    font-size: 13px;
    font-family: Ubuntu;
    line-height: 40px;
}

.toolbar-right {
    float: right;
    margin-right: 10px;
}

.toolbar-item {
    position: relative;
    display: block;
    height: 40px;
    float: left;
    padding: 0 10px;
    color: #fff;
    text-decoration: none;
}

    a.toolbar-item:hover,
    .toolbar-item i:hover {
        color: #52a3f5;
        cursor: pointer;
    }

    .toolbar-item i {
        font-size: 20px;
        position: relative;
    }

    i.blue { color: #52a3f5; }

.toolbar-item.sml {
    color: #c2c3c7;
}

    .toolbar-item.sml i {
        font-size: 14px;
    }

.toolbar-item.active {
    height: 36px;
    border-bottom: 4px solid #52a3f5;
    color: #52a3f5;
}

.toolbar-item.space {
    width: 40px;
}

.toolbar-item.dropdown {
    padding: 0 15px;
}

    .toolbar-item.dropdown:hover { background: #3E4346; }
    .toolbar-item.dropdown:hover ul { display: block; }

    .toolbar-item.dropdown ul {
        display: none;
        position: absolute;
        top: 40px;
        right: 0;
        list-style-type: none;
        background: #3E4346;
        width: 270px;
        margin: 0;
        padding: 0;
        line-height: 30px;
        color: #c2c3c7;
    }

        .toolbar-item.dropdown ul li {
            margin: 0;
            padding: 0;
    }
            
            .toolbar-item.dropdown ul li.dropdown-item:hover a {
                color: #fff;
                cursor: pointer;
                border-left: 4px solid #52a3f5;
                padding-left: 26px;
            }
            
                .toolbar-item.dropdown ul li.dropdown-item:hover a i {
                    color: #fff;
                }

            .toolbar-item.dropdown ul li a {
                color: #c2c3c7;
                padding: 0 30px;
                text-decoration: none;
                display: block;
            }

                .toolbar-item.dropdown ul li i {
                    padding: 7px 15px 0 0;
                    color: #c2c3c7;
                    font-size: 16px;
                    display: block;
                    float: left;
                }

                    .toolbar-item.dropdown ul li i.right {
                        padding: 0 0 15px 15px;
                        float: right;
                    }

            .toolbar-item.dropdown ul li.title {
                color: #52a3f5;
                padding: 20px 30px 0 30px;
                font-weight: bold;
            }

            .toolbar-item.dropdown ul li.space {
                border-bottom: 1px solid #2D3036;
                margin: 20px 30px 0 30px;
            }

            .toolbar-item.dropdown ul li.caboose {
                background: #2D3036;
                padding-top: 12px;
                padding-bottom: 12px;
                margin-top: 20px;
            }

            .toolbar-item.dropdown ul li.paragraph {
                line-height: 1;
                padding: 30px;
                color: #fff;
            }

                .toolbar-item.dropdown ul li.paragraph i:hover {
                    color: #52a3f5;
                }

                .toolbar-item.dropdown ul li.paragraph b {
                    color: #c2c3c7;
                    display: block;
                    padding-top: 5px;
                    font-weight: normal;
                }
